/* src/EventsPage.css */

.events-page {
  padding: 20px;
}

.events-section {
  margin-bottom: 40px;
}
.event-item img {
  max-width: 100%; 
  height: auto; 
}
.events-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.event-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.event-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.event-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.event-item p {
  font-size: 16px;
  margin-bottom: 5px;
}

.register-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #65B741;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.register-button:hover {
  background-color: #4a8a2b; 
}

.events-page {
  padding: 0 1rem;
}


.upcoming-events .event-item {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 2rem;
}

.upcoming-events .event-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-button {
  
  border: none;
  cursor: pointer;
}



.past-events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.past-events .event-item {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.past-events .event-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.past-events img {
  border-radius: 0.5rem;
  max-width:40vw;
}


.academia-connects img {
  height: 400px; 
  width:auto;
  object-fit: contain; 
 
}
.StartupEcosystem-connects {
  margin:20px;
  margin-bottom: 4rem;
}

.StartupEcosystem-connects img {
  height: 400px; 
  width:auto;
  object-fit: cover; 
}
